* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100vh;
    background:linear-gradient(180deg, #86e4ef, #b275e4, #cf7096);
    
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(115deg, #cf86ef, #e475c4, #9c56c5);
    width: 20rem;
    height: 26rem;
    border-radius: 10px;
    box-shadow: 1px 20px 20px 20px rgba(51, 51, 51, 0.75);
    -webkit-box-shadow: 0px 20px 15px 10px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 1px 10px 10px 20px rgba(51, 51, 51, 0.75);
  }
  
  .card-head {
    position: relative;
    background-color: linear-gradient(115deg, #cf86ef, #e475c4, #9c56c5);
    width: 60%;
    height: 55%;
    text-align: center;
    border-radius: 10px;
  }
  
  .card-head img {
   border-radius: 100%;
    outline: 1rem solid rgb(81, 246, 255);
    transform: translateY(4rem);
  }
  
 
  
  p,
  .social-icons {
    text-align: center;
    margin-top: 1rem;
    color: white;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .social-icons a {
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
  }
  
  .name {
    font-size: 2rem;
    color: white;
  }
  
  .desig {
    font-size: 0.8rem;
    margin-top: 0;
  }
  
  .about {
    font-size: 1rem;
    margin-top: 2rem;
  }